*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.boxes{
	height: 100vh;
	width: 100%;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box1{
	height: 20vh;
	width: 20%;
	background-color: white;
	margin: 2%;
	padding: 10px;
	border-radius: 10px;
}
.box1  span{
	font-size: 15px;
	color: tomato;
	margin-left: 10px;
}
.box1 i{
	font-size: 15px;
	color: tomato;

}
.box1 h2{
	margin-left: 30%;
	font-size: 2.5rem;
	position: relative;
	top: -50px;
}
 .box1 .fa-square-arrow-up-right {
	font-size: 2.5rem;
	margin-top: 20px;
	margin-left: 10px;
}
.box2{
	height: 20vh;
	width: 20%;
	background-color: white;
	margin: 2%;
	padding: 10px;
	border-radius: 10px;
}
.box2  span{
	font-size: 15px;
	color: tomato;
	margin-left: 10px;
	color: lightgreen;
}
.box2 i{
	font-size: 15px;
	color: tomato;

}
.box2 h2{
	margin-left: 30%;
	font-size: 2.5rem;
	position: relative;
	top: -50px;
}
.box2 .fa-cart-shopping {
	font-size: 2.5rem;
	margin-top: 20px;
	margin-left: 10px;
}

.box3{
	height: 20vh;
	width: 20%;
	background-color: white;
	margin: 2%;
	padding: 10px;
	border-radius: 10px;
}
.box3  span{
	font-size: 15px;
	color: tomato;
	margin-left: 10px;
	color: blue;
}
.box3 i{
	font-size: 15px;
	color: tomato;

}
.box3 h2{
	margin-left: 30%;
	font-size: 2.5rem;
	position: relative;
	top: -50px;
}
.box3 .fa-utensils{
	font-size: 2.5rem;
	margin-top: 20px;
	margin-left: 10px;
}
.box4{
	height: 20vh;
	width: 20%;
	background-color: white;
	margin: 2%;
	padding: 10px;
	border-radius: 10px;
}
.box4  span{
	font-size: 15px;
	color: tomato;
	margin-left: 10px;
	color: tomato;
}
.box4 i{
	font-size: 15px;
	color: tomato;

}
.box4 h2{
	margin-left: 30%;
	font-size: 2.5rem;
	position: relative;
	top: -50px;
}
.box4 .fa-burger{
	font-size: 2.5rem;
	margin-top: 20px;
	margin-left: 10px;
}

@media all and (max-width:412px)
{
	.boxes{
		flex-direction: column;
	}
	.box1{
		width: 80%;
	}
	.box2{
		width: 80%;
	}
	.box3{
		width: 80%;
	}
	.box4{
		width: 80%;
	}
}